<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
      </authentication>
    </security>
    <!-- ************** Rewrite Rules**************** setup cache like here https://randynghiem.wordpress.com/2015/01/30/security-practices-for-secure-web-sites-using-arr/ -->
    <rewrite>
      <rules>

        <!-- <rule name="Reverse Proxy to info" stopProcessing="true">
          <match url="^sockjs-node/(.*)" />
          <action type="Rewrite" url="http://localhost:4200/sockjs-node/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Reverse Proxy to soc.js" stopProcessing="true">
          <match url="^soc.js" />
          <action type="Rewrite" url="http://localhost:4200/soc.js" />
        </rule>
         -->
        <rule name="Reverse Proxy to root *.js" stopProcessing="true">
          <match url="^([\w-\.]*).js" />
          <action type="Rewrite" url="http://localhost:4200/{R:1}.js" />
        </rule>
        <rule name="Reverse Proxy to CSS included PNG files" stopProcessing="true">
          <match url="^([\w-\.]*).png" />
          <action type="Rewrite" url="http://localhost:4200/{R:1}.png" />
        </rule>
        <rule name="Reverse Proxy to CSS " stopProcessing="true">
          <match url="^styles.([\w-\.]*).css" />
          <action type="Rewrite" url="http://localhost:4200/styles.{R:1}.css" />
        </rule>
        <rule name="Reverse Proxy to files in /assets" stopProcessing="true">
          <match url="^assets/(.*)" />
          <action type="Rewrite" url="http://localhost:4200/assets/{R:1}" />
        </rule>
        <rule name="Reverse Proxy to login" stopProcessing="true">
          <match url="^login" />
          <action type="Rewrite" url="http://localhost:4200/login" />
        </rule>
        <rule name="Reverse Proxy to licenses" stopProcessing="true">
          <match url="^licenses$" />
          <action type="Rewrite" url="http://localhost:4200/licenses" />
        </rule>
        <rule name="Reverse Proxy to my-license" stopProcessing="true">
          <match url="^licenses/my-license/(.*)/(.*)$" />
          <action type="Rewrite" url="http://localhost:4200/licenses/my-license/{R:1}/{R:2}" />
        </rule>

      </rules>
    </rewrite>
    <!-- ************** End of Rewrite Rules**************** -->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>