<h1>Update Password</h1>

<div class="col-md-4">
    <form name="passwordForm">
        <div class="rowForm ">
            <input name="password" ng-hide="ctrl.isTokenRedeem" type="password" class="form-control" placeholder="Password" ng-model="ctrl.password" ng-required="!ctrl.isTokenRedeem">
            <div ng-messages for="passwordForm.password.$error" role="alert" class="alert alert-danger" ng-if="passwordForm.password.$invalid && passwordForm.password.$touched">
                <div ng-message="required">The password field is required</div>
            </div>
        </div>
        <div class="rowForm ">
            <input name="newPassword" type="password" class="form-control" placeholder="New password" ng-model="ctrl.newPassword" required>
            <div ng-messages for="passwordForm.newPassword.$error" role="alert" class="alert alert-danger" ng-if="passwordForm.newPassword.$invalid && passwordForm.newPassword.$touched">
                <div ng-message="required">The new password field is required</div>
            </div>
        </div>
        <div class="rowForm ">
            <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm new password" ng-model="ctrl.confirmNewPassword" required matches-field="newPassword">
            <div ng-messages for="passwordForm.confirmPassword.$error" role="alert" class="alert alert-danger" ng-if="passwordForm.confirmPassword.$invalid && passwordForm.confirmPassword.$touched">
                <div ng-message="required">The confirm password field is required</div>
                <div ng-message="matchesField">The password fields must match</div>
            </div>
        </div>
        <div class="rowForm ">
            <button class="btn btn-md btn-info pull-right" type="submit" ng-click="ctrl.onSubmitClicked()" ng-disabled="passwordForm.$invalid">Submit</button>
        </div>
</form>
</div>
<div class="col-md-8" ng-hide="ctrl.messages.length === 0">
    <ul  class="error-list alert alert-danger">
        <li ng-repeat="message in ctrl.messages"><span ng-bind-html="message"></span></li>
    </ul>
    <button ng-click="ctrl.onResendTokenClicked()" ng-if="ctrl.showResendButton">Resend Password Reset Token.</button>
</d>