<div>
    <div class="modal-header">
        <h3>Mass Create Users</h3>
    </div>

    <div class="modal-body container">
        <business-search selected-businesses="$ctrl.selectedBusinesses" search-options="{withoutUsers: true, withEmail: true}"></business-search>
    </div>
</div>

<div class="modal-footer">  
    <button class="btn btn-default" ng-click="$ctrl.onOkClicked()" ng-disabled="addUserForm.$invalid">Mass Create Users</button>
    <button class="btn" ng-click="$ctrl.onCancelClicked()">Cancel</button>
</div>