<div class="container">
    <h1>MyAccount Users</h1>

    <user-list on-selection-changed="ctrl.onSelectionChanged(user)" api="ctrl.userListApi"></user-list>

    <div class="row bottom10">
        <div class="col-xs-2">
            <button class="btn" ng-click="ctrl.onClickCreateUser()">Create User</button>
        </div>
        <div class="col-xs-2">
            <button class="btn" ng-click="ctrl.onClickMassCreateUsers()">Mass Create Users</button>
        </div>
    </div>

    <div class="panel panel-default" ng-if="ctrl.selectedUser">
        <div class="panel-body">
            <ul class="nav nav-pills bottom10">
                <li ng-class="{'active' : ctrl.selectedTab === 0}"><a href="" ng-click="ctrl.selectedTab = 0">Details</a></li>
                <li ng-class="{'active' : ctrl.selectedTab === 1}"><a href="" ng-click="ctrl.selectedTab = 1">Businesses</a></li>
            </ul>

            <user-details ng-show="ctrl.selectedTab === 0" user="ctrl.selectedUser"></user-details>
            <user-businesses ng-show="ctrl.selectedTab === 1" user="ctrl.selectedUser"></user-businesses>
        </div>
    </div>
</div>